<openmeed-navbar></openmeed-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="profile-card my-4 fixed-m">
        <img class="img-thumbnail rounded mx-auto d-block "
             src="https://ui-avatars.com/api/?name={{user.name}}&size=150">

        <p class="text-center">{{user.name}}</p>
        <p class="text-center">{{user.location}}</p>
        <p class="text-center">{{user.company}}</p>
        <p class="text-center">{{user.hireable ? "Hireable" : "Not looking for hires"}}</p>
        <p class="text-center">{{user.email}}</p>
        <h3 class="text-center">{{total_points}} pts</h3>
      </div>
    </div>
    <div class="col-7 m-5">
      <div class=" mx-auto">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Point</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rewardDetail of rewards; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              <p>In line to redeem {{rewardDetail.type}} for this <a target="_blank"
                                                                     href="{{rewardDetail.issueId}}">Issue</a> with an
                incentive value of {{rewardDetail.value}}.
            </td>
            <td>{{ rewardDetail.value}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
