<openmeed-navbar></openmeed-navbar>
<div class="container container-fluid">

  <div class="row">
    <h2>All issues</h2>
  </div>
  <div *ngFor="let issue of issues" class="card m-4">
    <div class="row">
      <div class="col-4">
        <h3>{{issue.title}}</h3>
        <button class="btn btn-full" ><a target="_blank" href="{{issue.html_url}}">View Issue</a></button>
        <button class="btn btn-empty" (click)="workOnIssue(issue.id)">Work on Issue</button>
      </div>
    </div>
  </div>
</div>
