<openmeed-navbar></openmeed-navbar>
<div class="container container-fluid">

  <div class="row">
    <h2>All issues</h2>
  </div>
  <div *ngFor="let issue of issues" class="card m-4">
    <div class="row">
      <h3>{{issue.title}}</h3>
    </div>
    <div class="row">
      Reward: <p class="px-3" id="{{issue.id}}-reward">No Incentive</p>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-full"><a target="_blank" href="{{issue.html_url}}">View Issue</a></button>
        <button class="btn btn-empty" (click)="workOnIssue(issue)">Work on Issue</button>
      </div>
      <div class="col">
      <form>
        <div class="form-group">
          <input id="{{issue.id}}" [attr.data-url]=issue.html_url (change)="allocateIncentiveToIssue($event)" type="text" class="form-control"
                 aria-describedby="Enter Reward" placeholder="Enter reward">
          <label for="{{issue.id}}">Enter Reward</label>

          <small id="help" class="form-text text-muted">Press enter to submit</small>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
