@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

* {
  font-family: 'Nunito Sans', sans-serif;
}

body {
  font-size: 18px;
}

.nav a {
  text-decoration: none;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

h1 {
  font-size: 2em;
}

.card {
  padding: 1.5em;
  box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 8px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.32) 2px 2px 8px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

#loginbg {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(101, 20, 30, 0.51)
  ), url('img/bg.jpeg');
  background-position: center center;
  filter: blur(0.2px);
  overflow: hidden;
  margin: 0;
  padding: 1px;
  width: 100vw;
  height: 100vh;
}

.signin-card {
  border: 0;
  border-radius: 0.5rem;
  opacity: 0.9;
  box-shadow: 0 0.5rem 1rem 0 rgba(33, 101, 88, 0.1);
}

.signin-card .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.signin-card .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-login {
  color: white;
  background-color: #652020;
}

#nameInput {
  display: block;
}

#add-new-project {
  display: none;
  transition: 0.5ms;
}

.african {
  background: url(img/africa.svg) no-repeat;
  padding: 20px 0;
}

.african-flip {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hidden {
  display: none;
}

.text-green {
  color: #652020;
}

.bg-green {
  background-color: #652020;
}

.options {
  cursor: pointer;
  font-size: 10px;
  background-color: #652020;
  padding: 7px
}

.copy-link {
  opacity: 1;
  position: sticky;
}

.project {
  background-color: #ffffff;
  color: #652020;
  width: 100%;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
}

.project:hover {
  color: #652020;
  font-weight: bold;
  text-decoration: none;
}

.option-box {
  display: none;
}

.project-box:hover .option-box {
  display: block;
  transition: 2s;
}
