<div id="loginbg">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="signin-card my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <p *ngIf="errorMessage== 'Failed'" class="text-center alert-danger p-2">{{errorMessage}}</p>

            <form  [hidden]="sso" *ngIf="!twoFA" [formGroup]="loginForm" class="form-signin" (ngSubmit)="login()">

              <p class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
                <input type="text" placeholder="Email" id="username" class="form-control" formControlName="username">
                <label for="username">Enter Username</label>
              </p>

              <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
                <div *ngIf="formControls.username.errors.required">Email is required</div>
              </div>

              <p class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                <input type="password" placeholder="Password" id="password" class="form-control"
                       formControlName="password">
                <label for="password">Enter Password</label>
              </p>

              <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                <div *ngIf="formControls.password.errors.required">Password is required</div>

              </div>
              <div class="center-block">
                <button class="btn btn-full text-uppercase center-block" type="submit" value="Log in">Login</button>
              </div>
            </form>

            <div class="center-block form-signin">
              <button class="btn btn-full text-uppercase center-block" type="button" value="Log in" ><a href="http://localhost:8080/oauth2/authorize/github?redirect_uri=http://localhost:4200/oauth2/redirect">Sign in with Github</a></button>
            </div>

            <form *ngIf="twoFA" class="form-signin" (ngSubmit)="verifyTFA()">

              <p class="form-label-group">
                <input type="text" (change)="set2FA($event)" placeholder="944-322" id="code" class="form-control">
                <label for="code"></label>
              </p>
              <p>
                <input class="btn btn-lg btn-login btn-block text-uppercase" type="submit" value="Verify">
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
