<div id="loginbg">
  <div class="container p-5">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="signin-card my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <p *ngIf="errorMessage== 'Failed'" class="text-center alert-danger p-2">{{errorMessage}}</p>

            <div class="text-center form-signin">
              <a  id="login" class="btn btn-full" href="{{url}}">Sign in with Github</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
