<nav style="background-color: #652020;padding: 1rem 4rem;" class="shadow-sm navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="font-weight-bolder navbar-brand text-white">Sanalyzer</a>
    </div>
    <ul class="nav navbar-right">
      <li><a style="cursor: pointer" class="text-white px-2 btn-login" (click)="logout()"><span
        style="text-transform: capitalize">{{state}}</span></a></li>
    </ul>
  </div>
</nav>
